/*****************************************\
             #Section-header
\*****************************************/
$headers-font-size: .833rem;





/*****************************************\
             #Section-color
\*****************************************/
$color-primary: hsl(210, 79%, 46%);
$color-secondary: 	hsl(345, 55%, 53%);



/*****************************************\
          #Section-color-grey
\*****************************************/
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 98%);

$color-grey-500: hsl(0, 0%, 62%);
$color-grey-700: hsl(0, 0%, 38%);
$color-grey-800: hsl(0, 0%, 26%);
